
__pycache__/

pyghidra_mcp_projects/

setup.sh

.vscode/
.vscode/*
APKs/

APKs/

classification_*/

run.sh

*.zip

oauth_creds.json

flowdroid_gen/flowdroid-cg/dependency-reduced-pom.xml

flowdroid_gen/flowdroid-cg/target/

*.swp

callGraph/

Other/

Server_callGraph/

apks2.txt

test.py
